.doc__container {
  width: 100%;
}

.doc__inner__container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.doc__inner__container pre {
  background: #f2f2f2;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}
