.hero__container {
  width: 100%;
  margin: 2rem 0;
}

.hero__inner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.intro__title {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem 3rem;
  min-height: 50%;
}

.title {
  margin-bottom: 1rem;
}

.paragraph {
  margin-bottom: 1rem;
}

.btn__container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.btn__inner {
  margin-bottom: 1rem;
}

.btn {
  color: white;
  font-weight: bolder;
  border: solid 2px red;
  padding: 0.75rem;
  background-color: #2d2827;
  text-decoration: none;
  cursor: pointer;
}

.img__container {
  width: 50%;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.lorem {
  text-align: center;
  padding: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.heading {
  margin-bottom: 1rem;
}

.resources,
.routes {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
}

.resources__heading {
  margin-bottom: 1rem;
}

.resources__list {
  margin-top: 1rem;
  max-width: 500px;
}

.resources__list li {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
}

.resources__list li a {
  text-decoration: none;
}

.resources__btn {
  color: white;
  font-weight: bolder;
  border: solid 2px red;
  padding: 0.75rem;
  background-color: #2d2827;
  margin-bottom: 0.5rem;
  cursor: pointer;
  width: 25%;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
  }

  .intro__title {
    width: 100%;
  }
}
